<!DOCTYPE html>
<html>

 <style>
body {
    background-color: lightblue;  }
h {
    font-size: 40px;
}

</style>
<div class="container">
<body>
<h>YOUR ACCOUNT IS CREATED </h>
<br>
<br>
<br>

<%= link_to "GO TO HOME",{controller: "home",action: "index"}, class:"navbar-brand topnav" %>
</body>
</html>